@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";

// custom components
@import "buttons";

.frontpagepic {
  background-image: url(../../pictures/DSC_0989.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profilbg-pic {
  background-image: url(../../pictures/DSC_0089.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

$card-border-color: red;

.img-thumbnail {
  width: 32%;
}
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 907px,
  xl: 1200px,
  xxl: 1400px,
);

.btn-secondary {
  background-color: lightblue;
}
.btn-primary {
  background-color: rgb(11, 63, 80);
  border: rgb(11, 63, 80);
}
